.card {
    cursor: pointer;
    background: transparent;
    border: none;
    height: 360px;
    flex: 1 1 300px;
    transition: transform 0.3s ease;
}

.card.flipped {
    cursor: default;
}

/* .card-container {
    margin-top:50px;
} */

.card-front-img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-front-text {
    color:#ffb752;
    width: 100%;
    height: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-front-text h3 {
    font-size: 1.1rem;
    margin: 0;

}

.card-back-text {
    color:#7efff5;
    width: 100%;
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-back-text p{
    font-size: 0.9rem;
    margin: 0;
}

.card-back-btn {
    background: transparent;
    border: none;
    color: #38ef7d;
    cursor: pointer;
    margin: 15px;
}

.card-back-btn:hover {
    color: #a4fcc5;
}

.card-back-links {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 15px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.card-back-links a {
    color: #38ef7d;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.card-back-links a:hover {
    color: #a4fcc5;
    transform: scale(1.2);
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: #0f0f0f solid 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-front {
    display: flex;
    flex-direction: column;
}

.card-back {
    transform: rotateY(180deg);
}

@media (max-width:991px) {
    .card-container {
        margin-top:0;
    }
    .card {
        height: 270px;
        flex: 1 1 100%;
    }

    .card-front-text h3 {
        font-size: 0.8rem;
    }

    .card-back-text p {
        font-size: 0.6rem;
    }

    .card-back-links a {
        font-size: 0.8rem;
        margin-bottom:20px;
    }
}

@media (max-width: 768px) {
    .card-container {
        margin-top:20px;
    }

    .card {
        height: 400px;
        flex: 1 1 100%;
    }

    .card-front-img {
        width: 100%;
        height: 40%;
        margin-bottom: 100px;
    }

    .card-front-text h3 {
        font-size: 1.4rem;
    }

    .card-back-text p {
        font-size: 1rem;
    }

    .card-back-links a {
        font-size: 1rem;
        margin-bottom:20px;
    }
}