/* 
Header: #f09819 (Code Orange)???
Header: #ffb752 (Light Orange)
Text: #7efff5 (Aqua)
BG main: #252525 (Charcoal)
BG secondary: #1d1d1d (Deep Gray)
BG dark: #0f0f0f (Near Black)
*/

/* 
Jetbrains Mono
Bebas Neue
Space Grotesk
 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

html {
    color: #7efff5;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #252525;
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 15px;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;
    color: #ffb752;
}

p {
    color: #7efff5;
}

h2 {
    color:#38ef7d;
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color:#38ef7d;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

#back-to-top:hover {
    color:#a4fcc5
}

#contact {
    position: relative;
}

#hero p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.2rem;
    color: #7efff5;
}

.about-container {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.about-img img {
    max-width: 70%;
    transition: transform 0.3s ease;
}

.about-img img:hover {
    transform: scale(1.02);
}

.btn-send {
    border:#38ef7d solid 2px;
    color: #38ef7d;
    transition: color 0.3s ease, transform 0.3s ease;
}

.btn-send:hover {
    border:#a4fcc5 solid 2px;
    color: #a4fcc5;
}

.bg-second {
    background-color: #1d1d1d;
}

.bg-darkest {
    background-color: #0f0f0f;
}

.contact-links a {
    color: #38ef7d;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin:25px;
}

.contact-links a:hover {
    color: #a4fcc5;
    transform: scale(1.2);
}

.contact-container {
    padding-top: 180px;
}

.cursor {
    display: none;
    margin-left: 3px;
    width: 2px;
    height: 1.2rem;
    animation: blink 1s infinite;
}
  
.hero-title {
    height: 200px;
}

.footer-cursor {
    display: inline-block;
    margin-left: 1px;
    width: 2px;
    animation: blink 1s infinite;
}

.footer-text {
    color: #38ef7d;
    text-align: center;
    height: 1rem;
}

.snap-section {
    padding: 100px 20px;
    margin: auto;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow-y: auto;
}

.scroll-hint {
    color: #38ef7d;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    opacity: 0;
    animation: fadeInArrow 5s ease 6s forwards, bounceArrow 1.5s infinite;
}

.snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

@keyframes fadeInArrow {
    to {
        opacity: 1;
    }
}

@keyframes bounceArrow {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

@media (max-width: 768px) {
    .snap-container {
        scroll-snap-type: y proximity;
    }

    .about-container {
        padding-top: 30px;
    }

    .about-img {
        display: none;
    }
    
    .about-text {
        order: 2;
        text-align: center;
    }

    .contact-container {
        padding: 50px 0;
    }

    .contact-links a {
        margin-left:5px;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}