/* 
Header: #f09819 (Code Orange)???
Header: #ffb752 (Light Orange)
Text: #7efff5 (Aqua)
BG main: #252525 (Charcoal)
BG secondary: #1d1d1d (Deep Gray)
BG dark: #0f0f0f (Near Black)
*/

/* 
Jetbrains Mono
Bebas Neue
Space Grotesk
 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

html {
    color: #7efff5;
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #252525;
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 15px;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;
    color: #ffb752;
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color:#38ef7d;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

#back-to-top:hover {
    color:#a4fcc5
}

#contact {
    position: relative;
}

#hero p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.2rem;
    color: #7efff5;
}

.bg-second {
    background-color: #1d1d1d;
}

.bg-darkest {
    background-color: #0f0f0f;
}

/* card CSS start */
.card {
    perspective: 1000px;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 300px;
  }

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.card-front {
    background: #333;
}

.card-back {
    background: #555;
    transform: rotateY(180deg);
}
/* card CSS end */

.cursor {
    display: none;
    margin-left: 3px;
    width: 2px;
    height: 1.2rem;
    animation: blink 1s infinite;
}
  
.hero-title {
    height: 200px;
}

.footer-cursor {
    display: inline-block;
    margin-left: 1px;
    width: 2px;
    animation: blink 1s infinite;
}

.footer-text {
    color: #38ef7d;
    text-align: center;
    height: 1rem;
}

.nav-menu {
    color:#38ef7d;
}

.nav-btn {
    color: #38ef7d;
    position: fixed;
    background:none;
    top: 20px;
    right: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1060;
}

.nav-icon {
    width: 24px;
    height: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

.nav-icon .line {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #38ef7d;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    border-radius: 3px;
}

.nav-icon .line-1 {
    top: 0;
}

.nav-icon .line-2 {
    top: 8px;
}

.nav-icon .line-3 {
    top: 16px;
}

.nav-btn.is-active .nav-icon .line-1 {
    top: 8px;
    transform: rotate(45deg);
}

.nav-btn.is-active .nav-icon .line-2 {
    opacity: 0;
}

.nav-btn.is-active .nav-icon .line-3 {
    top: 8px;
    transform: rotate(-45deg);
}

.nav-btn:hover {
    color: #a4fcc5;
}

.navbar {
    background: none;
    height: 20px;
}

.nav-item a{
    color: #38ef7d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav-link:hover{
    color: #a4fcc5;
}

.nav-link.active{
    color: #a4fcc5 !important;
}

.offcanvas {
    max-width: 230px;
    background-color: #0f0f0f;
}

.offcanvas .nav-link {
    color: #38ef7d;
    font-weight: 500;
    padding: 12px 15px;
    transition: all 0.2s ease;
    border-radius: 5px;
    margin: 3px 0;
}

.offcanvas .nav-link:hover,
.offcanvas .nav-link.active {
    color: #a4fcc5;
}

.snap-section {
    padding: 100px 20px;
    margin: auto;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow-y: auto;
}

.scroll-hint {
    color: #38ef7d;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    opacity: 0;
    animation: fadeInArrow 5s ease 6s forwards, bounceArrow 1.5s infinite;
}

.snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

@keyframes fadeInArrow {
    to {
        opacity: 1;
    }
}

@keyframes bounceArrow {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

@media (max-width: 768px) {
    .snap-container {
        scroll-snap-type: y proximity;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}